<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoinTab</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Cointab</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <%if (status=="logged" ){%>
                        <li class="nav-item">
                            <a class="nav-link" href="/profile"
                                style="color: white; text-decoration: none;">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout" style="color: white; text-decoration: none">logout</a>
                        </li>
                        <%}else{%>
                            <li class="nav-item">
                                <a class="nav-link" href="./signup"
                                    style="color: white; text-decoration: none;">Signup</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/login" style="color: white; text-decoration: none">login</a>
                            </li>

                            <%}%>

                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <%if (status=="logged" ){%>

                <h5 class="card-title">Welcome<%=user.username%></h5>
                <%}else{%>
                    <h5 class="card-title">Welcome</h5>

                <%}%>

                <h6 class="card-subtitle mb-2 text-muted">Hey please be easy</h6>
                <p class="card-text"></p>
                <%if (status=="logged" ){%>
                    <button class="btn btn-primary"><a href="/profile"
                        style="color: white; text-decoration: none;">Profile</a></button>
                <button class="btn btn-primary"><a href="/logout"
                        style="color: white; text-decoration: none;">Logout</a></button>
            
                    <%}else{%>
                        <button class="btn btn-primary"><a href="/login"
                            style="color: white; text-decoration: none;">Login</a></button>
                    <button class="btn btn-primary"><a href="/signup"
                            style="color: white; text-decoration: none;">Signup</a></button>
                
                        <%}%>


             </div>
        </div>
    </div>

</body>

</html>